@import url('style.css');

.about {
    min-height: 110dvh;
    display: flex;
}

.about__container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__text-content {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.about__headline {
    font-size: var(--font-3xl);
    font-weight: 800;
    line-height: 1;
    background: var(--primary);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    position: relative;
    display: inline-block;
    margin: 0;
}

.about__headline__name {
    font-size: var(--font-3xl);
    font-weight: 800;
    line-height: 1;
    background: linear-gradient(to right, var(--primary), var(--primary));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-top: var(--space-sm);
    position: relative;
    display: inline-block;
}

.about__description {
    font-size: var(--font-sm);
    text-align: justify;
    line-height: 1.6;
    color: var(--text-secondary);
    max-width: 90%;
    margin: var(--space-md) 0 var(--space-sm);
}




.about__cta-container {
    display: flex;
    align-items: center;
    gap: var(--space-sm);
    margin-top: var(--space-lg);
}

.cta-button {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    padding: var(--space-xs) var(--space-md);
    border-radius: var(--border-radius-sm);
    font-weight: 400;
    font-size: var(--font-sm);
    transition: all var(--transition-speed-normal) var(--transition-easing);
    text-decoration: none;
}

.cta-button--primary {
    background-color: var(--primary);
    color: var(--text);
    border: 1px solid var(--primary);
}

.cta-button--primary:hover {
    background-color: var(--card-bg);
    border: 1px solid var(--card-bg);
    transform: translateY(-2px);
    box-shadow: var(--shadow-sm);
}

.cta-button img {
    width: var(--space-base);
    height: var(--space-base);
    transition: all var(--transition-speed-normal) ease;
    filter: brightness(0) invert(1);
}

.cta-button:hover img {
    filter: brightness(0) invert(1);
}











.about__social-links {
    display: flex;
    gap: var(--space-base);
    margin-top: var(--space-lg);
}

.about__social-links-card {
    background-color: var(--card-bg);
    border-radius: var(--border-radius-fll);
    padding: var(--space-xxs);
    transition: all var(--transition-speed-normal) ease;
}

.about__social-links-card:hover {
    background-color: var(--primary);
    color: var(--text);
    transform: translateY(-2px);
}

.about__social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--space-xl);
    height: var(--space-xl);
    color: var(--muted);
}

.about__social-links a:hover {
    color: var(--text);
}

.about__social-links svg {
    width: var(--space-base);
    height: var(--space-base);
}









.about__image-container {
    align-items: center;
    display: flex;
    justify-content: center;
    perspective: 1000px;
}

.about__image {
    max-width: 65%;
    height: auto;
    border: solid 2px var(--border-invert);
    border-radius: var(--border-radius-fll);
    box-shadow:
        0 0 0 1px #359dba47,
        0 0 70px #359dba77,
        0 0 70px #359dbac4 inset;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    position: relative;
    z-index: 2;
    user-select: none;
}

.about__image:hover {
    transform: scale(1.02);
    cursor: pointer;
}

















@media screen and (max-width: 1024px) {
    .about__container {
        flex-direction: column-reverse;
        min-height: auto;
        align-items: center;
        text-align: center;
    }

    .about__description {
        max-width: 100%;
    }

    .about__image {
        max-width: 80%;
        margin-bottom: var(--space-3xl);
    }
}

@media screen and (max-width: 768px) {
    .about {
        padding: var(--space-lg) 0;
    }

    .about__headline {
        font-size: var(--font-2xl);
    }

    .about__headline__name {
        font-size: var(--font-2xl);
    }

    .about__description {
        font-size: var(--font-base);
        margin: var(--space-3xl) 0 var(--space-2xl);
    }

    .about__text-content>div>div {
        padding: var(--space-sm) var(--space-md);
    }

    .about__social-links {
        margin-top: var(--space-md);
        justify-content: center;
        gap: var(--space-2xl);
    }

    .about__social-links-card {
        padding: var(--space-sm);
    }
}

@media screen and (max-width: 480px) {
    .about__headline {
        font-size: var(--font-2xl);
    }

    .about__headline__name {
        font-size: var(--font-2xl);
    }

    .about__description {
        font-size: var(--font-sm);
    }

    .about__text-content>div>div {
        gap: var(--space-xs);
        padding: var(--space-sm);
    }

    .about__social-links a {
        width: var(--space-md);
        height: var(--space-md);
    }

    .about__social-links svg {
        width: var(--space-xs);
        height: var(--space-xs);
    }

    .about__image {
        max-width: 90%;
    }
}