@import url('style.css');

.about {
    min-height: 110dvh;
    color: var(--text);
    display: flex;
}

.about__container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__text-content {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.about__headline {
    font-size: var(--font-3xl);
    font-weight: 800;
    line-height: 1;
    background: var(--primary-light);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    position: relative;
    display: inline-block;
    margin: 0;
}

.about__headline__name {
    font-size: var(--font-3xl);
    font-weight: 800;
    line-height: 1;
    background: linear-gradient(to right, var(--primary-light), var(--primary-gradiente));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-top: var(--space-sm);
    position: relative;
    display: inline-block;
}

.about__description {
    font-size: var(--font-sm);
    text-align: justify;
    line-height: 1.6;
    color: var(--text-secondary);
    max-width: 90%;
    margin: var(--space-md) 0 var(--space-sm);
}




.about__container__buttons {
    display: flex;
    gap: var(--space-md);
    margin-top: var(--space-lg);
    user-select: none;
}

.about__container__buttons-item {
    position: relative;
    display: flex;
    align-items: center;
    gap: var(--space-xs);
    padding: var(--space-sm) var(--space-base);
    background-color: var(--bg-button);
    border-radius: var(--border-radius-medium);
    transition: all var(--transition-speed-normal) ease;
    cursor: pointer;
}

.about__container__buttons-item:hover {
    background-color: var(--primary);
    transform: translateY(-2px);
    box-shadow: 0 10px 20px -5px rgba(59, 130, 246, 0.3);
}

.about__container__buttons-item:hover a {
    color: white;
}

.about__container__buttons-item:hover img {
    filter: brightness(0) invert(1);
}

.about__container__buttons-item img {
    width: var(--space-base);
    height: var(--space-base);
    transition: all var(--transition-speed-normal) ease;
}

.about__container__buttons-item a {
    color: var(--text-invert);
    text-decoration: none;
    font-weight: 600;
    font-size: var(--font-sm);
    transition: all var(--transition-speed-normal) ease;
}










.about__social-links {
    display: flex;
    gap: var(--space-base);
    margin-top: var(--space-lg);
}

.about__social-links-card {
    background-color: var(--bg-light);
    border-radius: var(--border-radius-full);
    padding: var(--space-xxs);
    transition: all var(--transition-speed-normal) ease;
}

.about__social-links-card:hover {
    background-color: var(--primary);
    color: white;
    transform: translateY(-2px);
}

.about__social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--space-xl);
    height: var(--space-xl);
    color: var(--text-secondary);
}

.about__social-links a:hover {
    color: white;
}

.about__social-links svg {
    width: var(--space-base);
    height: var(--space-base);
}









.about__image-container {
    align-items: center;
    display: flex;
    justify-content: center;
    perspective: 1000px;
}

.about__image {
    max-width: 65%;
    height: auto;
    border: solid 2px var(--border-invert);
    border-radius: var(--border-radius-full);
    box-shadow:
        0 0 0 1px #3b82f61a,
        0 0 70px #3b82f633,
        0 0 70px #3b82f61a inset;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    position: relative;
    z-index: 2;
    user-select: none;
}

.about__image:hover {
    transform: scale(1.02);
    cursor: pointer;
}

















@media screen and (max-width: 1024px) {
    .about__container {
        flex-direction: column-reverse;
        min-height: auto;
        align-items: center;
        text-align: center;
    }

    .about__description {
        max-width: 100%;
    }

    .about__image {
        max-width: 80%;
        margin-bottom: var(--space-3xl);
    }
}

@media screen and (max-width: 768px) {
    .about {
        padding: var(--space-lg) 0;
    }

    .about__headline {
        font-size: var(--font-2xl);
    }

    .about__headline__name {
        font-size: var(--font-2xl);
    }

    .about__description {
        font-size: var(--font-base);
        margin: var(--space-3xl) 0 var(--space-2xl);
    }

    .about__text-content>div>div {
        padding: var(--space-sm) var(--space-md);
    }

    .about__social-links {
        margin-top: var(--space-md);
        justify-content: center;
        gap: var(--space-2xl);
    }

    .about__social-links-card {
        padding: var(--space-sm);
    }
}

@media screen and (max-width: 480px) {
    .about__headline {
        font-size: var(--font-2xl);
    }

    .about__headline__name {
        font-size: var(--font-2xl);
    }

    .about__description {
        font-size: var(--font-sm);
    }

    .about__text-content>div>div {
        gap: var(--space-xs);
        padding: var(--space-sm);
    }

    .about__social-links a {
        width: var(--space-md);
        height: var(--space-md);
    }

    .about__social-links svg {
        width: var(--space-xs);
        height: var(--space-xs);
    }

    .about__image {
        max-width: 90%;
    }
}