@import url('style.css');

.carrossel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: var(--space-xl);
}

.carrossel {
    display: flex;
    width: max-content;
    gap: var(--space-4xl); 
}

.carrossel-item {
    flex: 0 0 auto;
    width: var(--space-3xl);
    text-align: center;
}

.carrossel-item img {
    width: var(--space-xl);
    height: auto;
    display: block;
    user-select: none;
}