@import url('style.css');

.carrossel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: var(--space-2xl);
}

.carrossel {
    display: flex;
    width: max-content;
    gap: var(--space-6xl); 
}


.carrossel-item {
    flex: 0 0 auto;
    width: var(--space-3xl);
    text-align: center;
}

.carrossel-item img {
    width: var(--space-2xl);
    height: auto;
    display: block;
    user-select: none;
}

@media screen and (max-width: 1024px) {
    .carrossel-container {
        width: 100%;
        overflow: hidden;
        position: relative;
        height: var(--space-2xl);
        margin: var(--space-7xl) 0 var(--space-7xl);
    }
    
    .carrossel {
        display: flex;
        width: max-content;
        gap: var(--space-6xl); 
    }
    
    
    .carrossel-item {
        flex: 0 0 auto;
        width: var(--space-2xl);
        text-align: center;
    }
    
    .carrossel-item img {
        width: var(--space-3xl);
        height: auto;
        display: block;
        user-select: none;
    }
}