@import url('sysle.css');

#desktopPortfolioMenu {
    display: flex;
    justify-content: center;
    gap: var(--space-xl);
    z-index: 10;
    user-select: text; 
    -webkit-tap-highlight-color: transparent;
    scroll-margin-top: 80px; 
    color: var(--text-white);
    margin: var(--space-2xl) 0 var(--space-3xl);
}

#desktopPortfolioMenu button {
    background: var(--primary);
    color: var(--text-white);
    font-size: var(--font-sm);
    padding: var(--space-sm) var(--space-xl);
    align-items: center;
    gap: var(--space-sm);
    display: flex;
    justify-content: center;
    border: solid 1px var(--border);
    border-radius: var(--border-radius-md);
    cursor: pointer;
    height: var(--space-2xl);
    transition: background 0.4s cubic-bezier(0.4, 0, 0.2, 1),
                box-shadow 0.4s cubic-bezier(0.4, 0, 0.2, 1),
                transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

#desktopPortfolioMenu button:hover {
    background: var(--bg-grid);
    color: var(--text-white);
    box-shadow: var(--effect-glass-dark);
}

#desktopPortfolioMenu button:focus {
    outline: none;
    
}

#desktopPortfolioMenu button.active {
    background-color: var(--bg-box);
    color: var(--text-white);
    box-shadow: 0 0 0 1px var(--effect-glass-dark), 0 0 10px var(--effect-glass-light);
    transform: scale(1.03);
}

#desktopPortfolioMenu img {
    max-width: var(--space-md);
    filter: var(--filter-button);
    height: auto;
    user-select: none;
    pointer-events: none;
}

#desktopPortfolioMenu button.active img {
    filter: var(--filter-button);
}