@import url('style.css');

#footer--grid-layout {
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    gap: var(--space-sm);
}

.footer-group {
    display: flex;
    align-items: center;
    gap: var(--space-sm);
}

#footer--grid-layout p {
    color: var(--text-white);
    font-size: var(--font-sm);
    margin: 0;
}

#footer--grid-layout a {
    color: var(--text-gray);
    text-decoration: none;
}

#footer--grid-layout img {
    width: var(--space-lg);
    height: var(--space-lg);
    user-select: none;
}


@media (max-width: 700px) {
    #footer--grid-layout {
        margin-bottom: var(--space-5xl);
        padding: var(--space-sm);
    }
}