@import url('style.css');

/* Header fixo por padrão */
.header {
  position: fixed;
  top: 0;
  left: 0;
  inset: 0 0 auto 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 75px;
  background: var(--bg-header);
  border-bottom: 1px solid var(--border);
  z-index: 1200;
  transition: transform 0.3s ease;
}

/* Esconde o header no mobile */
.header.hide {
  transform: translateY(-100%);
}

.header__text-logo {
  display: flex;
  font-size: var(--font-lg);
  font-weight: 700;
  text-align: center;
  align-items: center;
  color: var(--text-white);
  text-decoration: none;
}

.header__text-logo:hover {
  color: var(--text-white);
}

.header__text-logo img {
  margin-right: var(--space-sm);
  width: var(--font-xl);
  height: var(--font-xl);
  user-select: none;
}













.header__nav {
  display: flex;
  align-items: center;
  gap: var(--space-2xl);
}

.header__menu {
  display: flex;
  gap: var(--space-2xl);
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__menu-item {
  position: relative;
}

.header__menu-link {
  color: var(--text-white);
  font-size: var(--font-sm);
  font-weight: 500;
  text-decoration: none;
  padding: var(--space-sm) 0;
  position: relative;
  transition: color 0.3s ease;
}

.header__menu-link::before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  transform: scaleX(0);
  height: 0.15rem;
  bottom: -0.1rem;
  background: linear-gradient(270deg, var(--primary) 0%, var(--bg) 100%);
  transform-origin: bottom right;
  transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
}

.header__menu-link.active::before {
  transform: scaleX(0) !important;
}

.header__menu-link:hover {
  color: var(--text-white);
}

.header__menu-link:hover::before,
.header__menu-link.active::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.header__menu-link.active {
  color: var(--primary);
  font-weight: 600;
}




@media (max-width: 700px) {
  .header__menu {
    display: none;
  }
}
























































@media (max-width: 700px) {
  .header {
    height: 65px;
  }
}