:root {
    --primary-color: #00a2ff;
    --secund-color: #00a2ffc0;
    --background-color: #111;
    --background-color2: #131313;
    --background-color3: #131313b0;
    --primary-border: #1f1f1f;
    --text-color: #9ca3af;
    --text-color2: #fff;
    --selection: #0781c75f;
    --languageActive: #d8d8d825;
    --background-colorMantem: #131313b0;
    --text-colorMantem: #f6f6f6;
}

body.light-mode {
    --primary-color: #0a86cd;
    --secund-color: #0080dbb0;
    --background-color: #fff;
    --background-color2: #f6f6f6;
    --background-color3: #ffffff89;
    --primary-border: #1f1f1fb8;
    --text-color: #424242;
    --text-color2: #111;
    --languageActive: #8686865f;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    caret-color: transparent;
}

::selection {
    background-color: var(--selection);
    color: var(--text-color2);
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

svg {
    background-color: transparent;
    opacity: 80%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

button:focus,
input:focus {
    border: 0;
}

body {
    font-family: "Archivo";
    overflow-x: hidden;
    color: var(--text-color);
    background-color: var(--background-color);
    transition: background-color .3s, color .3s;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    background-color: var(--background-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--secund-color);
    border-radius: .1rem;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    scroll-padding-top: 10rem;
    overflow: hidden;
}

/*---------------------------------------------------------*/

.fade-in {
    opacity: 0;
    transform: translateY(20px) scale(0.98);
    transition: 
        opacity 0.6s cubic-bezier(0.16, 1, 0.3, 1),
        transform 0.6s cubic-bezier(0.16, 1, 0.3, 1);
    will-change: opacity, transform; 
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0) scale(1);
}

/*---------------------------------------------------------*/

/* Tela de Carregamento */
#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 0.5s ease;
}

.loading-card {
    text-align: center;
}

.loader {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.loader .circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 0 5px;
    background-color: var(--primary-color);
    animation: bounce 1.5s infinite ease-in-out;
}

.loader .circle:nth-child(2) {
    animation-delay: 0.2s;
}

.loader .circle:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }
}

#loading-screen p {
    margin-top: 20px;
    font-size: 18px;
    color: var(--text-color2);
    transition: opacity 0.3s ease;
}

/*---------------------------------------------------------*/

/* Navbar */
.header {
    background-color: var(--background-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 10rem;
    z-index: 1000;
    transition: top 0.4s ease-in-out;
    top: 0;
}

.header-logo__text {
    background-color: transparent;
}

.header-logo__text h2 {
    color: var(--text-color2);
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    user-select: none;
}

.header-logo__text h2 span {
    color: var(--primary-color);
}

.header__menu__toggleButton {
    display: flex;
    align-items: center;
    gap: 3.5rem;
}

/* Estilo do menu sanduíche */
.header__menu {
    display: flex;
    list-style: none;
    background-color: transparent;
    gap: 3.5rem;
    z-index: 1000;
    align-items: center;
    text-align: center;
}

.header__menu-item {
    margin: 0 1rem;
    background-color: transparent;
}

.header__menu-link {
    color: var(--text-color);
    text-decoration: none;
    position: relative;
    font-size: 1.5rem;
    background-color: transparent;
    transition: color .3s ease, transform .3s ease;
    display: block;
}

.header__menu-link:hover {
    transform: translateX(.2rem);
    color: var(--text-color2);
}

.header__menu-link::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 0.18rem;
    bottom: -0.8rem;
    left: 0;
    background: linear-gradient(270deg, var(--primary-color) 0%, var(--background-color) 100%);
    transform-origin: bottom right;
    transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
}

.header__menu-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.header__menu-toggle {
    display: none;
    justify-content: center;
    align-items: center;
    width: 3.3rem;
    height: 2rem;
    cursor: pointer;
}

.header__menu-toggle span {
    height: .24rem;
    width: 70%;
    background-color: var(--background-color);
    border: solid .1rem var(--secund-color);
    z-index: 1;
}

/* Animação de descida do menu */
@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateX(-50%) translateY(-2rem);
    }

    to {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
}

/* Animação de aparecimento dos itens do menu */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-1rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*----------------------------------*/

/* Estilo do botão de alternar tema */
.toggle-container {
    position: relative;
    width: 5rem;
    height: 2.3rem;
    background-color: var(--primary-color);
    border-radius: 1.2rem;
    cursor: pointer;
    transition: background-color .3s ease;
}

.toggle-switch {
    position: absolute;
    top: 50%;
    left: .2rem;
    width: 1.9rem;
    height: 1.9rem;
    background-color: var(--text-color2);
    border-radius: 50%;
    transition: transform .3s ease;
    transform: translateY(-50%);
}

.toggle-container.active {
    background-color: var(--secund-color);
}

.toggle-container.active .toggle-switch {
    transform: translateX(2.6rem) translateY(-50%);
}

/* Estilo do tooltip */
.tooltip {
    position: absolute;
    display: flex;
    top: 130%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--text-color2);
    color: var(--background-color);
    padding: .1rem .5rem;
    border-radius: .4rem;
    font-size: 1.2rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease, visibility .3s ease;
    white-space: nowrap;
    user-select: none;
}

.theme-content:hover .tooltip {
    opacity: 1;
    visibility: visible;
}

/*---------------------------------------------------------*/

/* Início */
.hero {
    padding: 20rem 20rem 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    gap: 2;
}

.container--hero {
    gap: 4.5rem;
    display: flex;
    flex-direction: column;
}

.hero__title {
    color: var(--text-color2);
    font-size: 4rem;
    text-transform: uppercase;
}

.hero__title__subtitle {
    color: var(--primary-color);
    font-size: 4rem;
    text-transform: uppercase;
}

.typewriter {
    color: #6d6d6d;
    font-size: 2rem;
    margin-top: 1rem;
}

.typewriter:after {
    content: "|";
    margin-left: .8rem;
    opacity: 1;
    animation: blink 1s infinite;
    font-family: 'Courier New', monospace;
}

@keyframes blink {
    100% {
        opacity: 1
    }

    50% {
        opacity: 0
    }
}

.hero__image-container img {
    display: block;
    width: 40rem;
    height: auto;
    box-shadow: none;
    user-select: none;
    opacity: .8;
}

.hero__buttons {
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: center;
}

.hero__button-download,
.hero__button-contact {
    background-color: var(--secund-color);
    color: var(--text-color2);
    padding: .9rem 3rem;
    max-width: 30rem;
    border-radius: .3rem;
    transition: all .4s ease;
    font-size: 1.4rem;
    font-weight: 400;
    cursor: pointer;
    text-align: center;
    user-select: none;
    position: relative;
    overflow: hidden;
    /* Adicionei para conter o efeito shine */
}

.hero__button-download:hover,
.hero__button-contact:hover {
    padding: .9rem 4.1rem;
    max-width: 32.5rem;
}

.hero__button-download:hover,
.hero__button-contact:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px #00a2ffd2;
    /* Adicionei um efeito de brilho alternativo */
}

.hero__button-download:hover::before,
.hero__button-contact:hover::before {
    animation: shine 1.5s ease-out infinite;
}

.hero__button-download::before,
.hero__button-contact::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(120deg,
            rgba(255, 255, 255, 0) 30%,
            rgba(255, 255, 255, 0.8),
            rgba(255, 255, 255, 0) 70%);
    top: 0;
    left: -100px;
    opacity: 0.6;
}

@keyframes shine {
    0% {
        left: -100px;
    }

    60% {
        left: 100%;
    }

    to {
        left: 100%;
    }
}

/*----------------------------------*/

/* Sobre */
.about {
    padding: 5rem 15rem 0;
}

.about__container {
    background-color: var(--background-color);
    padding: 5rem;
    border-radius: .8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    transition: transform .3s ease, border-color .3s ease;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.about__container::before {
    content: '';
    background: linear-gradient(45deg, var(--primary-color), var(--secund-color), var(--background-color), var(--primary-color), var(--secund-color), var(--background-color), var(--secund-color), var(--primary-color));
    position: absolute;
    background-size: 400%;
    filter: blur(20px);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: glowing 10s linear infinite;
    animation-play-state: var(--glowing-animation-state, paused);
    opacity: 1;
    transition: opacity .3s ease-in-out;
    border-radius: .8rem;
    z-index: -1;
}

.about__container::after {
    content: '';
    position: absolute;
    inset: .25rem;
    background: var(--background-color);
    border-radius: .8rem;
    z-index: -1;
}

@keyframes glowing {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.about__container:hover {
    transform: translateY(-.5rem);
}

.about__image-container {
    flex: 1 1 50%;
    max-width: 300px;
}

.about__image-container img {
    width: 100%;
    height: auto;
    transition: transform .3s ease, filter .3s ease;
    user-select: none;
}

.about__text-container {
    flex: 1 1 50%;
}

.about__text-container h2,
.about__text-container h3,
.about__text-container h4,
.about__text-container h5 {
    color: var(--text-color2);
    margin-bottom: 1rem;
}

.about__text-container h2 {
    font-size: 2.8rem;
    font-weight: 600;
}

.about__text-container h3 {
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.about__text-container h4,
.about__text-container h5 {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--primary-color);
    margin-bottom: 2rem;
}

.about__text-container p {
    font-size: 1.6rem;
    color: var(--text-color);
    line-height: 1.8;
    margin-bottom: 2.5rem;
    min-width: 0;
    word-break: break-word;
}

.about__text-container nav ul {
    display: flex;
    gap: 1.5rem;
    padding: 0;
}

.about__text-container nav ul a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    border: .1rem solid var(--primary-border);
    border-radius: .8rem;
    padding: 1rem;
    width: 4.8rem;
    height: 4.8rem;
    transition: all .3s ease;
    user-select: none;
    position: relative;
}

.about__text-container nav ul a:hover {
    border-color: var(--primary-color);
    background-color: rgba(var(--primary-color), 0.1);
    transform: translateY(-.3rem);
    box-shadow: 0 10px 20px rgba(0, 162, 255, 0.2);
}

.about__text-container nav ul a::after {
    content: attr(data-tooltip);
    position: absolute;
    top: 115%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--text-color2);
    color: var(--background-color);
    padding: .1rem .5rem;
    border-radius: 4px;
    font-size: 1.2rem;
    font-weight: 500;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease, visibility .3s ease;
    user-select: none;
}

.about__text-container nav ul a:hover::after {
    opacity: 1;
    visibility: visible;
}

/*----------------------------------*/

/* Carrossel about */
.carrossel-container {
    margin: 16rem 0 11rem;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.carrossel {
    display: flex;
    width: max-content;
}

.carrossel-item {
    flex: 0 0 auto;
    width: 18rem;
    text-align: center;
}

.carrossel-item img {
    width: 25%;
    height: auto;
    display: block;
    opacity: .6;
    user-select: none;
}

/*----------------------------------*/

/* Seção de destaques */
.destaques-news {
    padding: 1rem 5rem 8rem;
    text-align: center;
    background-color: var(--background-color);
}

.destaques-news__text h2 {
    color: var(--text-color2);
    padding-bottom: 2rem;
    font-size: 4rem;
    font-weight: 500;
    margin-block-end: 0.83em;
    text-align: center;
}

.destaques-news__text h2 span {
    color: var(--primary-color);
}

/* Container do Carrossel */
.destaques-carousel-container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.destaques-carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    position: relative;
    align-items: center;
    justify-content: center;
}

/* Estilo base do card */
.card {
    width: 330px;
    height: 430px;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: none;
    perspective: 1200px;
    flex-shrink: 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

/* Lado frontal e traseiro do card */
.card__front,
.card__back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    transition: opacity 0.1s ease-in-out, transform 0.5s ease-in-out;
    border: none;
}

/* Lado frontal do card */
.card__front {
    background-color: transparent;
    transform: rotateY(0deg);
}

/* Ajuste da imagem */
.card__front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
}

/* Efeito de inclinação ao passar o mouse na imagem */
.card:hover .card__front {
    transform: rotateY(17deg);
    /* Inclina a imagem ao passar o mouse */
    box-shadow: .5rem .8rem .8rem rgba(0, 0, 0, 0.08);
}

.ripple-hint {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.card:hover .ripple-hint {
    animation: ripple 1s ease-out;
}

@keyframes ripple {
    0% {
        width: 0;
        height: 0;
        opacity: 0.5;
    }

    100% {
        width: 200px;
        height: 200px;
        opacity: 0;
    }
}

/* Lado traseiro do card */
.card__back {
    background-color: var(--background-color2);
    color: var(--text-color2);
    padding: 0 20px;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid var(--primary-border);
}

/* Efeito de flip ao clicar no card */
.card.flipped .card__front {
    transform: rotateY(180deg);
}

.card.flipped .card__back {
    transform: rotateY(0deg);
}

/* Estilos otimizados para o card */
.destaques-card {
    border-radius: .8rem;
    transition: all 0.3s ease;
    width: 100%;
    max-width: 28rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
}

.destaques--card-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-direction: column;
}

.destaques--card-info {
    flex: 1;
    min-width: 0;
}

.destaques--card-info h2 {
    color: var(--primary-color);
    font-size: clamp(1.7rem, 1.5vw, 1.5rem);
    font-weight: 500;
}

.destaques--card-info p {
    color: var(--text-color2);
    font-size: 1.2rem;
    margin: 1rem;
}

.destaques--card-testimonial p {
    color: var(--text-color);
    font-size: clamp(1.3rem, 1.1vw, 1.2rem);
    line-height: 1.5;
    text-align: center;
    margin: 0;
    text-align: justify;
}

/* Cards adjacentes */
.card.prev,
.card.next {
    opacity: 0.7;
    transform: scale(0.8);
    display: block;
    pointer-events: auto;
    cursor: default;
}

.card.prev {
    position: absolute;
    left: 2%;
    z-index: -10;
}

.card.next {
    position: absolute;
    right: 2%;
    z-index: -10;
}

/* Oculta todos os cards por padrão */
.card {
    display: none;
}

/* Exibe apenas o card ativo e os adjacentes */
.card.active,
.card.prev,
.card.next {
    display: block;
    transition: none;
}

/* Controles do Carrossel */
.destaques-carousel-control {
    width: 50px;
    height: 50px;
    background-color: var(--primary-color);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.8;
    transition: opacity 0.3s ease, background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.destaques-carousel-control:hover {
    opacity: 1;
    background-color: var(--selection);
}

.destaques-carousel-control.prev {
    left: -5%;
}

.destaques-carousel-control.next {
    right: -5%;
}

/* Efeito ao clicar */
.destaques-carousel-control:active {
    transform: translateY(-50%) scale(0.9);
}

/* Ícones das setas */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: inline-block;
}

.carousel-control-prev-icon {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill="%23111" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/></svg>');
}

.carousel-control-next-icon {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill="%23111" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/></svg>');
}

/* Ajustar a cor das setas com base no tema */
body.light-mode .carousel-control-prev-icon {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill="%23fff" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/></svg>');
}

body.light-mode .carousel-control-next-icon {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill="%23fff" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/></svg>');
}

/*----------------------------------*/

/* Estilo da Seção de Formação */
#formacao {
    padding: 6rem 5rem 9rem;
    background-color: var(--background-color2);
    position: relative;
}

#formacao .formacao--container h2 {
    color: var(--text-color2);
    padding-bottom: 2rem;
    font-size: 4rem;
    font-weight: 500;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
}

#formacao .formacao--container h2 span {
    color: var(--primary-color);
}

/* Container Flex */
.formacao-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    max-width: 120rem;
    margin: 0 auto;
    justify-content: center;
    align-items: stretch;
}

/* Cards de Formação */
.formacao-card {
    background-color: var(--background-color);
    border: .1rem solid var(--primary-border);
    border-radius: .8rem;
    padding: 1.7rem 2rem;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 .4rem .6rem rgba(0, 0, 0, 0.1);
    width: 28rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Efeito de Hover melhorado */
.formacao-card:hover {
    border-color: var(--primary-color);
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 162, 255, 0.2);
    background-color: rgba(0, 162, 255, 0.03);
}

/* Conteúdo dos Cards */
.card-header {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.card-header img {
    width: 6rem;
    height: 6rem;
    transition: transform 0.3s ease;
    user-select: none;

}

/* Hover para a imagem dentro do card */
.formacao-card:hover .card-header img {
    transform: scale(1.05);
}

.card-info h3 {
    color: var(--text-color2);
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
}

.card-info p {
    color: var(--text-color);
    font-size: 1.2rem;
    margin: 0;
}

.card-details {
    margin-bottom: 1rem;
}

.card-details p {
    color: var(--text-color);
    font-size: 1.2rem;
    margin: .5rem 0;
}

.card-details strong {
    color: var(--primary-color);
    font-size: 1.3rem;
}

/* Footer e Botão "Ver Mais" */
.formacao-footer {
    text-align: center;
    margin-top: 4rem;
    background-color: transparent;
    padding: 0;
}

#formacaoMostrarMaisBtn {
    background-color: transparent;
    border: .1rem solid var(--primary-color);
    color: var(--primary-color);
    padding: 1rem 2rem;
    border-radius: .6rem;
    font-size: 1.3rem;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    gap: .8rem;
    margin: 0 auto;
}

#formacaoMostrarMaisBtn:hover {
    background-color: rgba(0, 162, 255, 0.32);
    border-color: var(--primary-color);
    color: var(--text-color2);
}

#formacaoMostrarMaisBtn svg {
    width: 1.8rem;
    height: 1.8rem;
    transition: transform 0.3s ease;
}

#formacaoMostrarMaisBtn.rotated svg {
    transform: rotate(180deg);
}

/* Cards Ocultos */
.hidden {
    display: none;
}

/*----------------------------------*/

.projects {
    padding: 6rem 5rem 9rem;
    text-align: center;
    background-color: var(--background-color);
}

.projeto__text h2 {
    color: var(--text-color2);
    padding-bottom: 2rem;
    font-size: 4rem;
    font-weight: 500;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
}

.projects h2 span {
    color: var(--primary-color);
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    gap: 8rem;
    justify-content: center;
    padding: 0 2rem;
}

.project-item {
    position: relative;
    overflow: hidden;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.project-item:hover {
    transform: scale(1.12);
}

.project-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 0.5rem;
}

.project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-colorMantem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.project-item:hover .project-overlay {
    opacity: 0;
}

.project-overlay__title {
    color: var(--text-colorMantem);
    font-size: 2.4rem;
    font-weight: 600;
    margin: 0;
    text-align: center;
}

.project-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.project-icons img {
    width: 1.8rem;
    height: 1.8rem;
    object-fit: contain;
    user-select: none;

}

/*----------------------------------*/

.project-item {
    position: relative;
    transition: 0.5s ease-out;
    overflow: visible;
}

.project-tooltip {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 60%;
    max-width: 300px;
    padding: 0.5rem 1rem;
    background-color: var(--background-color2);
    border-radius: 1rem;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    font-size: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.5rem;
    opacity: 0;
    transform: translate(-50%, 125%);
    z-index: 1000;
}

.project-tooltip__date {
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: var(--text-color2);
}

.project-tooltip__link {
    font-size: 0.9rem;
    font-weight: 600;
    padding: 0.5rem 0.9rem;
    color: var(--text-color2);
    text-decoration: none;
    border: 1px solid var(--primary-color);
    border-radius: 6px;
    display: flex;
    align-items: center;
}

/* Hover effects */
.project-item:hover .project-tooltip {
    opacity: 1;
    transform: translate(-50%, 50%);
}

.project-tooltip__link:hover {
    color: var(--text-color2);
    border-color: var(--primary-color);
    background-color: rgba(0, 162, 255, 0.3);
}

/*----------------------------------*/

.projects--github {
    display: inline-flex;
    align-items: center;
    position: relative;
    margin-top: 3rem;
    transition: color 0.3s ease;
    font-size: 1.5rem;
    color: var(--primary-color);
    font-weight: 400;
    padding: 0 0 .5rem;
}

.projects--github::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: .15rem;
    bottom: -0.8rem;
    left: 0;
    background: linear-gradient(270deg, var(--primary-color) 0%, var(--background-color) 100%);
    transform-origin: bottom right;
    transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1);
}

.projects--github:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* Botão de Certificação */
.project--verCertificacao {
    display: inline-block;
    padding: .8rem 1.6rem;
    background-color: #00a2ff1a;
    color: var(--primary-color);
    text-decoration: none;
    border-radius: .6rem;
    font-size: 1.2rem;
    transition: all 0.3s ease;
    text-align: center;
    width: 100%;
    border: .1rem solid var(--primary-color);
}

.project--verCertificacao:hover {
    background-color: #00a2ff33;
    border-color: var(--primary-color);
    color: var(--text-color2);
}

/* Footer e Botão "Ver Mais" */
.project-footer {
    text-align: center;
    margin-top: 4rem;
    background-color: transparent;
    padding: 0;
}

#ProjectMostrarMaisProjetosBtn {
    background-color: transparent;
    border: .1rem solid var(--primary-color);
    color: var(--primary-color);
    padding: 1rem 2rem;
    border-radius: .6rem;
    font-size: 1.3rem;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    gap: .8rem;
    margin: 0 auto;
}

#ProjectMostrarMaisProjetosBtn:hover {
    background-color: #00a2ff52;
    border-color: var(--primary-color);
    color: var(--text-color2);
}


#ProjectMostrarMaisProjetosBtn svg {
    width: 1.8rem;
    height: 1.8rem;
    transition: transform 0.3s ease;
}

#ProjectMostrarMaisProjetosBtn.rotated svg {
    transform: rotate(180deg);
}

/* Cards Ocultos */
.hidden {
    display: none;
}

/*----------------------------------*/

/* Estilos gerais do modal */
.modal .modal-content {
    background-color: var(--background-color);
    border: 1px solid var(--primary-border);
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

/* Header do modal */
.modal-content .modal-header {
    background-color: var(--background-color);
    border-bottom: 1px solid var(--primary-border);
    padding: 1.5rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-close {
    opacity: 1;
    font-size: 1.5rem;
    transition: opacity 0.3s ease, transform 0.3s ease;
    background-color: var(--secund-color);
    border-radius: 100%;
    padding: 0.5rem;
}

.btn-close:hover {
    opacity: 0.8;
    transform: scale(1.1);
}

/* Body do modal */
.modal-body {
    background-color: var(--background-color);
    padding: 2rem;
}

.sessao-modal {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.sessao-video {
    flex: 1;
    max-width: 50%;
    border-radius: 0.5rem;
    overflow: hidden;
    transition: opacity 0.3s ease-in-out;
}

.sessao-video video {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.sessao-video:hover {
    opacity: 0.8;
    /* Opacidade um pouco mais baixa ao passar o mouse */
}

.texto-sessao-modal {
    flex: 1;
    max-width: 50%;
    padding: 0 1rem;
}

.titulo-sessao-modal {
    font-family: 'Poppins', sans-serif;
    font-size: 2.8rem;
    /* Aumentei o tamanho do título */
    color: var(--primary-color);
    margin-bottom: 1.5rem;
}

.paragrafos-sessao-modal {
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
    /* Aumentei o tamanho do texto */
    color: var(--text-color);
    line-height: 1.6;
    text-align: justify;
    margin-bottom: 1.5rem;
}

.data-sessao-modal {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.3rem;
    /* Aumentei o tamanho da data */
    font-weight: 500;
    color: var(--primary-color);
    text-align: left;
    margin-bottom: 0;
}

/* Footer do modal */
.footer-modal {
    background-color: var(--background-color);
    border-top: 1px solid var(--primary-border);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 1.5rem;
}

.botoes-footer {
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
}

.botao-footer-modal {
    background-color: var(--primary-color);
    color: var(--text-color2);
    font-size: 1.2rem;
    /* Aumentei o tamanho do texto dos botões */
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    padding: 0.75rem 2rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.botao-footer-modal:hover {
    background-color: var(--secund-color);
    transform: translateY(-2px);
}

/* Ícones no body */
.project-icons-header {
    display: flex;
    justify-content: flex-end;
    /* Alterado para "flex-end" para alinhar à direita */
    gap: 1.5rem;
    /* Espaçamento entre os ícones */
    background-color: transparent;
}

.project-icons-header ul {
    list-style: none;
    /* Remove os marcadores de lista */
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1.5rem;
    /* Espaçamento entre os ícones */
}

.project-icons-header ul li {
    position: relative;
    /* Necessário para posicionar o tooltip */
}

.project-icons-header img {
    width: 2.2rem;
    /* Tamanho dos ícones */
    height: 2.2rem;
    /* Tamanho dos ícones */
    object-fit: contain;
    transition: transform 0.3s ease, filter 0.3s ease;
    user-select: none;

}

.project-icons-header img:hover {
    transform: scale(1.2);
    /* Efeito de hover mais pronunciado */
    filter: brightness(1.1);
}

/* Estilo do tooltip */
.project-icons-header ul li::after {
    content: attr(data-tooltip);
    position: absolute;
    top: 136%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--text-color2);
    color: var(--background-color);
    padding: .1rem 0.7rem;
    border-radius: 0.4rem;
    font-size: 1rem;
    font-weight: 700;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.project-icons-header ul li::before {
    content: '';
    position: absolute;
    top: 100%;
    /* Posiciona a seta abaixo do ícone */
    left: 50%;
    transform: translateX(-50%) translateY(0);
    /* Ajuste para centralizar horizontalmente */
    border-width: 0.4rem;
    border-style: solid;
    border-color: transparent transparent var(--text-color2) transparent;
    /* Seta apontando para baixo */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.project-icons-header ul li:hover::after,
.project-icons-header ul li:hover::before {
    opacity: 1;
    visibility: visible;
}

/*----------------------------------*/

/* Estilos gerais da seção */
.skills {
    padding: 6rem 5rem 9rem;
    background-color: var(--background-color2);
}

.skills__container {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 2rem;
}

/* Título da seção */
.skills__text h2 {
    color: var(--text-color2);
    padding-bottom: 2rem;
    font-size: 4rem;
    font-weight: 500;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
}

.skills__text h2 span {
    color: var(--primary-color);
}

/* Botões de filtro */
.skills__filter {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 3rem;
    flex-wrap: wrap;
}

.skills__filter button {
    padding: .8rem 1.5rem;
    background-color: var(--background-color);
    border: .1rem solid var(--primary-border);
    color: var(--primary-color);
    border-radius: .5rem;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 1.1rem;
}

.skills__filter button.active,
.skills__filter button:hover {
    background-color: rgba(0, 162, 255, 0.32);
    border-color: var(--primary-color);
    color: var(--text-color2);
}

/* Container dos cards de habilidades */
.skills__flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    max-width: 120rem;
    margin: 0 auto;
    padding-top: 2rem;
}

/* Cards de habilidades */
.skill__card {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    border: .1rem solid var(--primary-border);
    border-radius: .6rem;
    text-align: center;
    width: 12rem;
    height: 11rem;
    position: relative;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 .4rem .6rem rgba(0, 0, 0, 0.1);
}

.skill__card.show {
    display: flex;
}

.skill__card:hover {
    border-color: var(--primary-color);
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 162, 255, 0.2);
    background-color: rgba(0, 162, 255, 0.03);
}

.skill__card img {
    width: 3.5rem;
    height: 3.5rem;
    margin-bottom: 1.5rem;
    object-fit: contain;
    transition: transform 0.3s ease;
    user-select: none;

}

/* Hover para a imagem dentro do card */
.skill__card:hover img {
    transform: scale(1.05);
}

.skill__card h1 {
    font-size: 1.3rem;
    color: var(--primary-color);
    margin: 0;
}

/*----------------------------------*/

/* Footer */
footer.footer--grid-layout {
    padding: 2rem 10rem;
    background-color: var(--background-color);
    color: var(--text-color2);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.footer-group {
    display: flex;
    align-items: center;
    gap: 1rem;
}

footer p {
    font-size: 1.5rem;
    margin: 0;
}

footer a {
    color: var(--primary-color);
    text-decoration: none;
}

footer img {
    width: 2.6rem;
    height: auto;
}