@import url('style.css');

/* Menu Mobile oculto por padrão */
#menuMobile {
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: var(--bg-header);
    border-top: 1px solid var(--border);
    justify-content: space-around;
    gap: 0 auto;
    z-index: 1000;
    user-select: text;
    -webkit-tap-highlight-color: transparent;
}

#menuMobile button {
    background: none;
    color: var(--text-white);
    font-size: var(--font-xs);
    padding: var(--space-base) var(--space-xs);
    align-items: center;
    gap: var(--space-xxs);
    display: flex;
    flex-direction: column;
    border: none;
    cursor: pointer;
}

#menuMobile button:focus {
    outline: none;
}

#menuMobile button:active {
    background-color: transparent; 
}

#menuMobile img {
    max-width: 1.1rem;
    height: auto;
    filter: var(--filter-button);
    user-select: none; 
    pointer-events: none;
    transition: filter 0.2s ease; 
}

/* Classe para o estado ativo */
#menuMobile button.active img {
    filter: var(--filter-button);
}
