/* Media Queries */
@media screen and (min-width: 2561px) {
    /* Ajustes para telas muito grandes */

    /* About section */
    .about__container {
        max-width: 1800px;
    }

    .about__headline,
    .about__headline__name {
        font-size: var(--font-size-sextuple-extra-large);
    }

    .about__description {
        font-size: var(--font-size-triple);
        max-width: 80%;
    }

    .carrossel-container {
        height: 7rem;
    }

    .carrossel-item {
        width: 22rem;
    }
}

@media screen and (max-width: 1441px) {
    /* Pequenos ajustes para telas HD */


    /* About section */
    .about__headline,
    .about__headline__name {
        font-size: var(--font-size-quadruple-extra-large);
    }

    .about__description {
        font-size: var(--font-size-large);
    }
}

@media screen and (max-width: 1281px) {

    /* About section */
    .about {
        min-height: auto;
        padding: var(--spacing-double-extra-large) 0;
    }

    .about__container {
        flex-direction: column-reverse;
        gap: var(--spacing-extra-large);
    }

    .about__text-content {
        max-width: 100%;
        align-items: center;
        text-align: center;
    }

    .about__description {
        max-width: 100%;
        text-align: center;
    }

    .about__image {
        max-width: 40%;
        margin-top: var(--spacing-large);
    }

    .carrossel-container {
        margin-top: var(--spacing-large);
    }
}

@media screen and (max-width: 1024px) {




    /* About section */
    .about__headline,
    .about__headline__name {
        font-size: var(--font-size-triple-extra-large);
    }

    .about__description {
        font-size: var(--font-size-medium);
    }

    .about__text-content > div > div a {
        font-size: var(--font-size-medium);
    }

    .carrossel-item {
        width: 15rem;
    }
}

@media screen and (max-width: 769px) {
    /* Ajustes no hero section */


    /* About section */
    .about__headline,
    .about__headline__name {
        font-size: var(--font-size-double-extra-large);
    }

    .about__description {
        font-size: var(--font-size-small);
    }

    .about__text-content > div {
        flex-wrap: wrap;
        justify-content: center;
    }

    .about__image {
        max-width: 70%;
    }

    .carrossel-container {
        height: 4rem;
    }

    .carrossel-item {
        width: 12rem;
    }

    .carrossel-item img {
        width: 25%;
    }
}

@media screen and (max-width: 426px) {
    .logo-item {
        width: 3.7rem;
        height: 2.7rem;
    }

    .word-animation {
        font-size: var(--font-size-triple-extra-large);
    }

    .word-animation-color {
        font-size: var(--font-size-quadruple-med-extra-large);
    }

    .url-text {
        font-size: var(--font-size-small);
    }



    /* About section */
    .about {
        padding: var(--spacing-extra-large) 0;
    }

    .about__headline,
    .about__headline__name {
        font-size: var(--font-size-quadruple-extra-large);
    }

    .about__description {
        font-size: var(--font-size-extra-small);
    }

    .about__text-content > div > div {
        padding: var(--spacing-extra-small) var(--spacing-medium);
    }

    .about__text-content > div > div a {
        font-size: var(--font-size-small);
    }

    .about__image {
        max-width: 70%;
    }

    .carrossel-container {
        height: 3.5rem;
    }

    .carrossel-item {
        width: 10rem;
    }

    .carrossel-item img {
        width: 25%;
    }
}

@media screen and (max-width: 376px) {
    .logo-item {
        width: 3.2rem;
        height: 2.2rem;
    }

    .word-animation {
        font-size: var(--font-size-double-extra-large);
    }

    .word-animation-color {
        font-size: var(--font-size-quadruple-extra-large);
    }

    .url-text {
        font-size: var(--font-size-extra-small);
    }

    


    /* About section */
    .about__headline,
    .about__headline__name {
        font-size: var(--font-size-large);
    }

    .about__description {
        font-size: var(--font-size-big-extra-small);
    }

    .about__text-content > div {
        gap: var(--spacing-small);
    }

    .about__text-content > div > div {
        padding: var(--spacing-extra-small) var(--spacing-small);
    }

    .carrossel-container {
        height: 3rem;
    }

    .carrossel-item {
        width: 8rem;
    }
}

@media screen and (max-width: 321px) {
    .logo-item {
        width: 2.7rem;
        height: 1.7rem;
    }

    .word-animation {
        font-size: var(--font-size-extra-large);
    }

    .word-animation-color {
        font-size: var(--font-size-triple-extra-large);
    }

    .url-text {
        font-size: var(--font-big-extra-small);
    }
    


    /* About section */
    .about__headline,
    .about__headline__name {
        font-size: var(--font-size-medium);
    }

    .about__description {
        font-size: var(--font-size-extra-small);
    }

    .about__text-content > div > div {
        padding: var(--spacing-extra-small) var(--spacing-extra-small);
    }

    .about__text-content > div > div a {
        font-size: var(--font-size-extra-small);
    }

    .about__image {
        max-width: 70%;
    }

    .carrossel-container {
        height: 2.5rem;
    }

    .carrossel-item {
        width: 6rem;
    }

    .carrossel-item img {
        width: 35%;
    }
}