@import url('style.css');

/* Estilos gerais da seção */
.skills {
    scroll-margin-top: clamp(2rem, 4vh, 4rem);
    padding-top: clamp(4.5rem, 6.5vh, 5.5rem);

}

.skills__container {
    max-width: 1200px;
    margin: 0 auto;
}

.skills__header {
    margin-bottom: var(--space-lg);
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
}

.skills__text-title {
    font-size: var(--font-3xl-5);
    margin: 0 0 var(--space-sm) 0;
    font-weight: 800;
    line-height: 1.2;
    background: linear-gradient(to right, var(--primary-linear-gradient), var(--text-gray-linear-gradient));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    position: relative;
    display: inline-block;
}

/* Botões de filtro */
.skills__filter {
    display: flex;
    justify-content: center;
    gap: var(--space-sm);
    margin-bottom: var(--space-xl);
    flex-wrap: wrap;
}

.skills__filter button {
    padding: var(--space-xs) var(--space-md);
    background-color: var(--bg-button);
    border: 1px solid var(--primary);
    color: var(--text-white);
    border-radius: var(--border-radius-sm);
    cursor: pointer;
    transition: all var(--transition-speed-normal) var(--transition-easing);
    font-size: var(--font-sm);
}

.skills__filter button.active,
.skills__filter button:hover {
    background-color: var(--effect-highlight-neutral);
    border-color: var(--primary);
    color: var(--text-dark);
}

/* Container dos cards de habilidades */
.skills__flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: var(--space-lg);
    max-width: 1200px;
    margin: 0 auto;
    padding-top: var(--space-md);
}

/* Cards de habilidades */
.skill__card {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-box);
    border: 1px solid var(--border);
    border-radius: var(--border-radius-md);
    transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    text-align: center;
    width: 120px;
    height: 120px;
    position: relative;
}

.skill__card.show {
    display: flex;
}

.skill__card:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.05);
    border-color: var(--primary);
}

.skill__card img {
    width: 45px;
    height: 45px;
    margin-bottom: var(--space-sm);
}

.skill__card h1 {
    font-size: var(--font-xs);
    color: var(--text-white);
    margin: 0;
}