@import url('style.css');


/* Estilos gerais da seção */
.skills {
    padding: 15rem 5rem;
    background-color: var(--background-color2);
}

.skills__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

/* Título da seção */
.skills__text h2 {
    margin-bottom: 7rem;
    color: var(--text-color2);
    font-size: 3.5rem;
    font-weight: 600;
    text-align: center;
}

.skills__text h2 span {
    color: var(--primary-color);
}

/* Botões de filtro */
.skills__filter {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 3rem;
    /* Aumentei o espaçamento abaixo dos botões */
    flex-wrap: wrap;
}

.skills__filter button {
    padding: 0.8rem 1.5rem;
    /* Aumentei o padding interno */
    background-color: var(--background-color);
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 1.1rem;
    /* Aumentei o tamanho da fonte */
}

.skills__filter button.active,
.skills__filter button:hover {
    background-color: rgba(0, 162, 255, 0.32);
    border-color: var(--primary-color);
    color: var(--text-color2);
}

/* Container dos cards de habilidades */
.skills__flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 2rem;
    margin: 0 2rem;
    /* Adicionei um espaçamento acima dos cards */
}

/* Cards de habilidades */
.skill__card {
    display: none;
    /* Oculta todos os cards por padrão */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    border: .1rem solid #1f1f1f;
    border-radius: 6px;
    transition: border-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    /* Transições suaves */
    text-align: center;
    width: 120px;
    height: 120px;
    position: relative;
}

.skill__card.show {
    display: flex;
    /* Exibe os cards com a classe "show" */
}

.skill__card:hover {
    border-color: var(--primary-color);
}


.skill__card img {
    width: 45px;
    height: 45px;
    margin-bottom: 1.5rem;
}

.skill__card h1 {
    font-size: 1.3rem;
    color: var(--primary-color);
    margin: 0;
}

