@import url('style.css');

.highlights {
    text-align: center;
    position: relative;
    z-index: 10;
    min-height: 100vh;
    scroll-margin-top: 80px; 
}

.highlights__header {
    margin-bottom: var(--space-lg);
}

.highlights--title {
    font-size: var(--font-3xl);
    font-weight: 800;
    background: linear-gradient(to right, var(--primary-light), var(--primary-gradiente));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    position: relative;
    display: inline-block;
}

.highlights--subtitle {
    font-size: var(--font-base);
    color: var(--text-secondary);
    padding: var(--space-lg) 0;
    margin: 0;
}

.highlights__buttons {
    display: flex;
    justify-content: center;
    gap: var(--space-lg);
    padding: var(--space-sm) 0;
    user-select: none;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    max-width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.highlight-card {
    background-color: var(--effect-highlight-blue);
    border: var(--border-width) var(--border-style) var(--border-header);
    border-radius: var(--border-radius-small);
    box-shadow: var(--shadow-light);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: var(--space-xs) var(--space-md); 
    min-width: 10rem;
    width: auto;
    text-align: center;
    box-sizing: border-box;
    flex: 1;
    max-width: var(--space-extreme);
}

.highlight-card:hover:not(.active) {
    transform: translateY(-1px);
    filter: var(--filter-button);
}

.highlight-card__link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-sm);
    padding: var(--space-sm) var(--space-lg);
    text-decoration: none;
    color: var(--primary-light);
    font-weight: 600;
    font-size: var(--font-base);
    transition: color 0.3s ease;
    cursor: pointer;
}

.highlight-card__link:hover:not(.active) {
    color: var(--primary-light); /* Prevents color change to white */
    filter: none; /* Prevents image color change to white */
}

.highlight-card__link img {
    width: var(--space-md);
    height: var(--space-md);
    transition: filter 0.3s ease;
}

.highlight-card.active {
    background-color: var(--effect-highlight-purple);
    box-shadow: var(--shadow-blue-glow);
}

.hidden {
    display: none !important;
}